:root {
    --ws-sm: 1rem;
    --lh-md: 150%;
}


body {
    background-color: ghostwhite;
    /* width: 100vw; */
    /* height: 100vh; */
    margin: 0;
    box-sizing: border-box;
}




.image-1 {
    top: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
}

.imgtexts {

    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.image-2 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: -70px;

    z-index: 999;
}


.text {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

.margin-wrapper {
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 700px) {
    .margin-wrapper {
        width: 60%;
    }
}

.text:hover {
    text-decoration: underline;
    color: orangered;
}

.about-container {

    height: 300px;
    /* margin-left: 300px; */
}

.about-text {
    font-size: 1.25em;
    word-spacing: var(--ws-sm);
    line-height: var(--lh-md);
}

.lower-background {
    background-color: palegoldenrod;
    width: 100%;
    height: 70vh;
}

.tip-note {
    width: 50%;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    top: 60px;
    background-color: wheat; 
    border-radius: 10% 10% 15% 15%;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    transform: rotate(3deg);
    padding: 1rem;
}


.tip-note > p {
    font-size: 1.3em;
    font-family: cursive;
}

.bold {
    font-weight: bold;
    font-style: italic;
}

.tip-note > p::first-letter {
    font-size: 4em;
    color: orangered;
}

.last-section {
    background-color:rgba(255, 255, 255, 0.8);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-girl {
    width: 40%;
    height: fit-content;
}

.cute-pic {
    width: 100%;
    height: 100%;
}

.youtube-logo {
    width: 15%;
    height: fit-content;
}

.red-bell {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    animation: bell 5s ease-in-out infinite;

}@keyframes bell {
    0% {
        transform: rotate(20deg);
    }
    35% {
        transform: rotate(-20deg); 
    }
    70% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

svg {
    height: 2em;
    width: 2em;
    color: red;
}

.about-channel {
    font-size: 1.6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

svg:hover {
    color: indianred;
}

